---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---

{# <h1>
  My name is Simon. Hi, My name is Simon. Hi, I'm Simon. I'm Simon
  Coudeville
</h1> #}
{# <h1>
  Simon Coudeville
</h1>
<p>
  Designer, coder and teacher.
</p>
<h2>
  About
</h2> #}
{# <h1>
  Hi, I'm Simon.
</h1> #}
{# <h1> #}
  {# Simon Coudeville #}
  {# <span aria-hidden="true">
    S&#x0306;
  </span> #}
  {# Hello! #}
{# </h1> #}
<p>
  Hi, my name is Simon. I'm a designer who likes to code. Specialised in responsive
  web-design, HTML & CSS, Javascript, typography and animation. Currently teaching these topics at
  <a href="">MCT</a>
  and
  <a href="">Devine</a>.
  {# <a class="link-meta" href="#more">Read more</a> #}
</p>
{# <p>
  I live in Bruges, Belgium together with my wife and two kids,
  <a href="/ida">Ida</a>
  &amp;
  <a href="/sam">Sam</a>. Yes, I made a webpage for them.
</p> #}
<h2>
  Now
</h2>
<ul>
  <li>
    Launched the <a href="https://www.ottomator.be/">Ottomator</a>. An interactive random birth card generator for my nephew Otto.
  </li>
  <li>
    Looking into new color profiles for the web such as
    <a href="https://webkit.org/blog/10042/wide-gamut-color-in-css-with-display-p3/">
      Display-P3</a>
    and
    <a href="https://lea.verou.me/2020/04/lch-colors-in-css-what-why-and-how/">LCH</a>. Check out
    <a href="https://codepen.io/simoncoudeville/pen/PoQpLWa">this codepen</a>
    (in Safari) to see the difference between RGB and Display-P3.
  </li>
  <li>
    Testing different static site generators such as
    <a href="https://www.11ty.dev/">11ty</a>
    and
    <a href="https://www.getzola.org/">Zola</a>
    to start a blog.
  </li>
  <li>
    Experimenting with the feTurbulence SVG filter in CSS. Have a look at
    <a href="https://codepen.io/simoncoudeville/pen/zYRygaV">this codepen</a> to see what it does.
  </li>
</ul>
<h2>
  Connect
</h2>
<p>
  Feel free to send me an
  <a href="mailto:me@simoncoudeville.be">email</a>. Otherwise you can follow me on
  <a href="https://codepen.io/simoncoudeville">Codepen</a>, <a href="">Twitter</a> or <a href="">Github</a>.
</p>