---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---

{% set postslist = collections.posts | head(-1) %}
{{ postlist.data.title }}
{% for post in postslist | head(-1) %}
  {% set title = post.data.title %}
  <header class="row row--page-header js-page-header">
    <div class="container">
      <div class="page-header">
        <h2 class="logo">
          <a class="logo__link" href="/">Simon Coudeville</a>
        </h2>
        <span class="page-header__title color-meta">{{ title }}</span>
        <time class="page-header__date text-date color-meta" datetime="{{ post.data.date | htmlDateString }}">{{ post.data.date | readableDate }}</time>
      </div>
    </div>
  </header>
  <article class="row pt-clear">
    <div class="container flow">
      <div class="article-header">
        <h1 class="js-article-title">{{ title }}</h1>
      </div>
      {{ post.templateContent | safe }}
    </div>
  </article>
  <section class="row">
    <div class="container flow">
      {% include "about.njk" %}
    </div>
  </section>
  <section class="row">
    <div class="container flow">
      {% include "allposts.njk" %}
    </div>
  </section>
{% endfor %}