<h2>Hi, I'm Simon</h2>
<p>
    I'm a designer who likes to code. I'm into responsive web-design, HTML & CSS,
    Javascript, typography and animation. Currently I'm teaching these topics at MCT
    and Devine. Feel free to send me an email. Follow me on Codepen or Twitter.
</p>