/*
Fonts
=====
*/

@font-face {
	font-family: 'Graphik Web';
	src: url('/fonts/Graphik-Regular-Web.woff') format('woff'),
		url('/fonts/Graphik-Regular-Web.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Tiempos Text Web';
	src: url('/fonts/TiemposTextWeb-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}


@font-face {
	font-family: 'Tiempos Text Web';
	src: url('/fonts/TiemposTextWeb-Semibold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Tiempos Text Web';
	src: url('/fonts/TiemposTextWeb-Regularitalic.woff') format('woff');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'Tiempos Text Web';
	src: url('/fonts/TiemposTextWeb-Semibolditalic.woff') format('woff');
	font-weight: 700;
	font-style: italic;
}


@font-face {
	font-family: 'Tiempos Headline';
	src: url('/fonts/TiemposHeadlineWeb-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

/*
Variables
=========
*/

:root {
	--global-color-alpha: indigo;
	--global-color-alpha-hue: 275deg;
	--global-color-alpha-saturation: 100%;

	--global-color-beta: tomato;

	--global-neutral-hue: var(--global-color-alpha-hue);
	--global-neutral-saturation: 2%;

	--global-color-neutral-025: hsl(var(--global-neutral-hue), var(--global-neutral-saturation), 95%);
	--global-color-neutral-050: hsl(var(--global-neutral-hue), var(--global-neutral-saturation), 87.5%);
	--global-color-neutral-100: hsl(var(--global-neutral-hue), var(--global-neutral-saturation), 80%);
	--global-color-neutral-200: hsl(var(--global-neutral-hue), var(--global-neutral-saturation), 70%);
	--global-color-neutral-300: hsl(var(--global-neutral-hue), var(--global-neutral-saturation), 60%);
	--global-color-neutral-400: hsl(var(--global-neutral-hue), var(--global-neutral-saturation), 50%);
	--global-color-neutral-500: hsl(var(--global-neutral-hue), var(--global-neutral-saturation), 44%);
	--global-color-neutral-600: hsl(var(--global-neutral-hue), var(--global-neutral-saturation), 30%);
	--global-color-neutral-700: hsl(var(--global-neutral-hue), var(--global-neutral-saturation), 20%);
	--global-color-neutral-800: hsl(var(--global-neutral-hue), var(--global-neutral-saturation), 10%);
	--global-color-neutral-900: hsl(var(--global-neutral-hue), var(--global-neutral-saturation), 5%);

	--global-backgroundColor: var(--global-color-neutral-025);
	--global-foregroundColor: var(--global-color-neutral-050);
	--global-text-color: var(--global-color-neutral-800);
	--global-highlight-color: var(--global-color-neutral-800);
	--global-meta-color: var(--global-color-neutral-500);
	--global-muted-color: var(--global-color-neutral-300);
	--global-borderColor: var(--global-color-neutral-050);
	--global-borderColor2: var(--global-color-neutral-100);

	--global-borderRadius: 0.25rem;

	--global-link-color: var(--global-text-color);
	/* --global-link-color: var(--global-highlight-color); */
	--global-link-underline-color: var(--global-meta-color);
	--global-link-hover-color: var(--global-link-underline-color);
	--global-selection-backgroundColor: var(--global-text-color);
	--global-selection-color: var(--global-backgroundColor);

	--global-font-family-alpha: "Graphik Web", sans-serif;
	/* --global-font-family-title: "Suisse Int'l", sans-serif; */
	--global-font-family-beta: "Tiempos Text Web", serif;
	--global-font-family-title: "Tiempos Headline", serif;
	/* --global-font-family-alpha: "Suisse Works", serif; */

	--global-title-font-weight: 400;

	--root-font-size: 19;
	--root-baseline: 5;
	--root-line-height: calc(var(--root-baseline) * 6);

	--global-line-height: calc(var(--root-line-height) / var(--root-font-size));
	--global-baseline: calc(var(--root-baseline) / var(--root-font-size) * 1rem);

	--global-whitespace-4xs: calc(var(--global-baseline) * 1);
	--global-whitespace-3xs: calc(var(--global-baseline) * 2);
	--global-whitespace-2xs: calc(var(--global-baseline) * 3);
	--global-whitespace-xs: calc(var(--global-baseline) * 4);
	--global-whitespace-s: calc(var(--global-baseline) * 5);
	--global-whitespace: calc(var(--global-baseline) * 6);
	--global-whitespace-m: calc(var(--global-baseline) * 7);
	--global-whitespace-l: calc(var(--global-baseline) * 8);
	--global-whitespace-xl: calc(var(--global-baseline) * 9);
	--global-whitespace-2xl: calc(var(--global-baseline) * 10);
	--global-whitespace-3xl: calc(var(--global-baseline) * 11);
	--global-whitespace-4xl: calc(var(--global-baseline) * 12);
}

/* @supports (color: color(display-p3 1 1 1)) {
	:root {
		--global-color-alpha: color(display-p3 0.2668 0 0.4895);
		--global-color-beta: color(display-p3 1 0.4286 0.3199);
	}
} */

@media (prefers-color-scheme: dark) {
	:root {
		--global-backgroundColor: var(--global-color-neutral-800);
		--global-foregroundColor: var(--global-color-neutral-700);
		--global-text-color: var(--global-color-neutral-025);
		--global-highlight-color: var(--global-color-neutral-025);
		--global-borderColor: var(--global-color-neutral-700);
		--global-borderColor2: var(--global-color-neutral-600);
		--global-meta-color: var(--global-color-neutral-400);
	}
}

/*
Page
====
*/

/* modern reset */

* {
	margin: 0;
}


html {
	/* --this-min-width: 320;
	--this-max-width: 744;
	--this-min-font-size: 16;
	--this-max-font-size: var(--root-font-size);
	--fluid-text-min-width: calc(var(--this-min-width) / 16);
	--fluid-text-max-width: calc(var(--this-max-width) / 16);
	--fluid-text-min-font-size: calc(var(--this-min-font-size) / 16);
	--fluid-text-max-font-size: calc(var(--this-max-font-size) / 16);
	--fluid-text-slope: calc(calc(var(--fluid-text-max-font-size) - var(--fluid-text-min-font-size)) / calc(var(--fluid-text-max-width) - var(--fluid-text-min-width)));
	--fluid-text-slope-unit: var(--this-slope-unit, 100vw);
	--fluid-text-intercept: calc(var(--fluid-text-min-font-size) - var(--fluid-text-slope) * var(--fluid-text-min-width));
	--fluid-text-font-size: clamp(calc(var(--fluid-text-min-font-size) * 1rem), calc(var(--fluid-text-slope) * var(--fluid-text-slope-unit)) + calc(var(--fluid-text-intercept) * 1rem), calc(var(--fluid-text-max-font-size) * 1rem)); */
	/* font-size: var(--fluid-text-font-size); */
	/* font-size: clamp(100%, 1.5vw + 0.438rem, calc(var(--root-font-size) / 16 * 100%)); */
	font-size: 100%;
	line-height: var(--global-line-height);
	background-color: var(--global-backgroundColor);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

@media screen and (min-width: 46.5em) {
	html {
		font-size: calc(19/16*100%);
	}
}

@media screen and (min-width: 105.0625em) {
	html {
		font-size: calc(22/16*100%);
	}
}

*,
::before,
::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: var(--global-font-family-alpha);
	font-feature-settings: "zero", "liga", "dlig", "lnum", "ss05";
	color: var(--global-text-color);
}

/* @media (min-width: 41em) {
	body {
		padding-top: var(--global-whitespace);
	}
} */

::selection {
	background-color: var(--global-selection-backgroundColor);
	color: var(--global-selection-color);
}

a:any-link {
	color: var(--link-color, var(--global-link-color));
	text-decoration-thickness: 1px;
	text-underline-offset: .05em;
	text-decoration-color: var(--link-underline-color, var(--global-link-underline-color));
	transition: all .1s ease;
}

a:hover {
	color: var(--global-link-hover-color);
	text-decoration-color: var(--global-link-hover-underline-color);
}

a:focus-visible {
	color: var(--global-link-hover-color);
	outline: 1px solid var(--global-link-underline-color);
	outline-offset: .2em;
	border-radius: 1px;
	text-decoration: none;
}

hr {
	height: 1px;
	color: inherit;
	margin: calc(var(--global-whitespace) * 2) 0;
	border: 0;
	background-color: var(--global-borderColor);
}

/*
Images
======
*/
/*
figure {
	margin: var(--global-whitespace) 0;
} */

img {
	max-width: 100%;
	display: block;
}

/*
Typography
==========
*/

/* h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
	margin: var(--global-whitespace) 0;
} */

h1,
.h1 {
	--fs: 32;
	font-family: var(--global-font-family-title);
	font-size: calc(var(--fs) / var(--root-font-size) * 1rem);
	line-height: calc(var(--root-baseline) * 8 / var(--fs));
	font-weight: var(--global-title-font-weight);
}

h2,
.h2 {
	--fs: 25;
	font-family: var(--global-font-family-title);
	font-size: calc(var(--fs) / var(--root-font-size) * 1rem);
	line-height: calc(var(--root-baseline) * 7 / var(--fs));
	font-weight: var(--global-title-font-weight);
}

h3,
.h3 {
	font-family: var(--global-font-family-title);
	font-size: 1.25rem;
	font-weight: var(--global-title-font-weight);
}

/*
*+h2 {
	margin-top: calc(var(--global-whitespace) * 2);
} */

ul li::marker {
	color: var(--global-color-beta);
}

h1+p,
h1:has(+p),
.intro-title,
.intro-text {
	display: inline;
}

/*
Flow Content
============
*/

.flow>*+* {
	margin-top: var(--global-whitespace);
}

.flow>*+h2 {
	margin-top: calc(var(--global-whitespace) * 2);
}

/*
Objects and components
======================
*/

.row {
	position: relative;
	display: flow-root;
	padding: calc(var(--global-whitespace) * 2) var(--global-whitespace);
}

.row--page-header {
	--row-page-header-background-color: hsla(var(--global-neutral-hue), var(--global-neutral-saturation), var(--row-page-header-background-color-lightness, 95%), var(--row-page-header-background-color-opacity, .9));
	--row-page-header-border-color: hsla(var(--global-neutral-hue), var(--global-neutral-saturation), var(--row-page-header-border-color-lightness, 10%), var(--row-page-header-border-color-opacity, .1));
	position: sticky;
	top: 0;
	z-index: 1;
	background-color: var(--row-page-header-background-color);
	backdrop-filter: blur(5px);
	padding: var(--global-whitespace);
}

.row--page-header::after {
	display: block;
	content: "";
	position: absolute;
	bottom: -1px;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: var(--row-page-header-border-color);
	opacity: 0;
	transition: opacity .1s ease;
}

:root:has(.page-header-observer-collides) .row--page-header::after {
	opacity: 1;
}

.row--page-footer {
	padding-bottom: var(--global-whitespace);
}

@media (prefers-color-scheme: dark) {
	.row--page-header {
		--row-page-header-background-color-lightness: 10%;
		--row-page-header-border-color-lightness: 95%;
		/* --row-page-header-border-color-opacity: .15; */
	}
}

.container {
	max-width: 36rem;
	margin-left: auto;
	margin-right: auto;
}

.list-reset {
	list-style: none;
	padding: 0;
}

.page-header-observer {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 1px;
}

@media (min-width: 41em) {
	.page-header-observer {
		top: var(--global-whitespace);
	}
}

.page-header {
	position: relative;
	display: grid;
	gap: var(--global-whitespace);
	grid-template-columns: max-content 1fr;
}

.page-header__title,
.page-header__date {
	grid-row: 1;
	grid-column: 2;
	text-align: right;
	transition: all .2s ease;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.page-header__title {
	transform: translateY(100%);
	opacity: 0;
}

body:has(.title-collides) .page-header__title {
	transform: translateY(0);
	opacity: 1;
}

body:has(.title-collides) .page-header__date {
	transform: translateY(-100%);
	opacity: 0;
}

.page-header * {
	margin: 0;
}

.logo {
	font-size: 1rem;
	line-height: 1.5;
	font-family: var(--global-font-family-alpha);
	font-weight: normal;
}

.logo__link {
	text-decoration: none;
}

.article-header {
	/* margin-bottom: var(--global-whitespace); */
	display: grid;
	place-items: center;
	text-align: center;
	min-height: calc(50vh - var(--global-whitespace) * 4);
}

.page-footer {
	color: var(--global-meta-color);
}

a.direct-link {
	text-decoration: none;
	color: var(--global-meta-color);
	opacity: 0;
}

h2:hover a.direct-link {
	opacity: 1;
}

.postlist {
	--postlist-whitespace: var(--global-whitespace-2xs);
	--postlist-inline-whitespace: var(--postlist-whitespace);
}

.postlist__item:first-child {
	margin-top: calc(var(--postlist-whitespace) / -2);
}

.postlist__item:last-child {
	margin-bottom: calc(var(--postlist-whitespace) / -2);
}

.postlist__link {
	display: flex;
	gap: 0 var(--postlist-inline-whitespace);
	flex-direction: column-reverse;
	padding: calc(var(--postlist-whitespace) / 2) 0;
	text-decoration: none;
	border-radius: var(--global-borderRadius);
}

.postlist__date {
	flex-shrink: 0;
	justify-self: flex-end;
	text-decoration: none;
}

@media (min-width: 30em) {

	.postlist__link {
		flex-direction: row;
		align-items: center;
	}

	.postlist__link::after {
		display: block;
		content: "";
		height: 1px;
		background-color: var(--global-borderColor);
		flex-grow: 1;
		order: 2;
	}

	.postlist__date {
		order: 3;
	}
}

.postlist__link--active {
	--link-color: var(--global-link-hover-color);
	text-decoration: none;
}

.postlist__link--active::before {
	--this-size: .25rem;
	position: relative;
	display: block;
	content: "";
	width: var(--this-size);
	height: var(--this-size);
	border-radius: 50%;
	background-color: var(--global-color-beta);
	margin-left: calc(var(--postlist-whitespace) * -1 - var(--this-size));
}

/*
Utilities
=========
*/

.color-meta {
	color: var(--global-meta-color);
}

.color-border {
	color: var(--global-borderColor);
}

.color-muted {
	color: var(--global-muted-color);
}

.align-center {
	margin-left: auto;
	margin-right: auto;
}

.mb-clear {
	margin-bottom: 0;
}

.pt-clear {
	padding-top: 0;
}

.max-width-md {
	max-width: 36em;
}

.text-date {
	font-feature-settings: "zero", "tnum", "case";
}

/* prism */

/**
 * okaidia theme for JavaScript, CSS and HTML
 * Loosely based on Monokai textmate theme by http://www.monokai.nl/
 * @author ocodia
 */

code[class*="language-"],
pre[class*="language-"] {
	--prism-font-size: 16;
	--prism-color: var(--global-color-neutral-025);
	--prism-background: var(--global-color-neutral-800);
	--prism-border-color: var(--global-color-neutral-800);
	--prism-selection-color: var(--global-color-neutral-800);
	--prism-selection-background: var(--global-color-neutral-025);
	color: var(--prism-color);
	font-family: ui-monospace,
		Menlo, Monaco,
		"Cascadia Mono", "Segoe UI Mono",
		"Roboto Mono",
		"Oxygen Mono",
		"Ubuntu Monospace",
		"Source Code Pro",
		"Fira Mono",
		"Droid Sans Mono",
		"Courier New", monospace;
	/* background-color: var(--global-foregroundColor); */
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	font-size: calc(var(--prism-font-size) / var(--root-font-size) * 1rem);
	line-height: calc(var(--root-baseline) * 5 / var(--prism-font-size));

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

/* code[class*="language-"] *::selection,
pre[class*="language-"] *::selection {
	background: var(--prism-selection-background);
	color: var(--prism-selection-color);
} */

@media (prefers-color-scheme: dark) {

	code[class*="language-"],
	pre[class*="language-"] {
		--prism-border-color: var(--global-borderColor);
	}
}

/* Code blocks */
pre[class*="language-"] {
	padding: var(--global-whitespace);
	margin: var(--global-whitespace-l) 0;
	overflow: auto;
	border-radius: 0.3em;
}

:not(pre)>code[class*="language-"],
pre[class*="language-"] {
	border: 1px solid var(--prism-border-color);
	background: var(--prism-background);
}

/* Inline code */
:not(pre)>code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
	white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: var(--global-color-neutral-400);
}

.token.namespace {
	opacity: .7;
}

.token.operator,
.token.number,
.token.punctuation,
.token.function {
	color: var(--global-color-neutral-300);
}

.token.deleted {
	text-decoration: line-through;
}

.token.italic {
	font-style: italic;
}

.token.important,
.token.bold {
	font-weight: bold;
}

.token.entity {
	cursor: help;
}

/*
.token.punctuation {
	color: var(--prism-color);
}

.token.namespace {
	opacity: .7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
	color: #f92672;
}

.token.boolean,
.token.number {
	color: #ae81ff;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: #a6e22e;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
	color: var(--prism-color);
}

.token.atrule,
.token.attr-value,
.token.function,
.token.class-name {
	color: #e6db74;
}

.token.keyword {
	color: #66d9ef;
}

.token.regex,
.token.important {
	color: #fd971f;
}

.token.important,
.token.bold {
	font-weight: bold;
}

.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
} */