/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */

/*
Document
========
*/

/**
Use a better box model (opinionated).
*/

*,
::before,
::after {
	box-sizing: border-box;
}

/**
1. Prevent adjustments of font size after orientation changes in iOS.
*/

html {
	-webkit-text-size-adjust: 100%;
	/* 1 */
}

/*
Sections
========
*/

/*
Grouping content
================
*/

/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Add a correct margin
4. Remove the border
*/

hr {
	height: 1px;
	/* 1 */
	color: inherit;
	/* 2 */
	margin: calc(var(--global-whitespace) * 2) 0;
	/* 3 */
	border: 0;
	/* 4 */
	background-color: var(--global-borderColor);
}

/*
Images
======
*/

figure {
	margin: var(--global-whitespace) 0;
}

img {
	max-width: 100%;
	display: block;
}

/*
Fonts
=====
*/

@font-face {
	font-family: 'Graphik Web';
	src: url('/fonts/Graphik-Regular-Web.woff') format('woff'),
		url('/fonts/Graphik-Regular-Web.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Tiempos Text Web';
	src: url('/fonts/TiemposTextWeb-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}


@font-face {
	font-family: 'Tiempos Text Web';
	src: url('/fonts/TiemposTextWeb-Semibold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Tiempos Text Web';
	src: url('/fonts/TiemposTextWeb-Regularitalic.woff') format('woff');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'Tiempos Text Web';
	src: url('/fonts/TiemposTextWeb-Semibolditalic.woff') format('woff');
	font-weight: 700;
	font-style: italic;
}


@font-face {
	font-family: 'Tiempos Headline';
	src: url('/fonts/TiemposHeadlineWeb-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

/*
Variables
=========
*/

:root {
	--global-color-alpha: indigo;
	--global-color-alpha-hue: 275deg;
	--global-color-alpha-saturation: 100%;

	--global-color-beta: tomato;

	--global-neutral-hue: var(--global-color-alpha-hue);
	--global-neutral-saturation: 5%;

	--global-color-neutral-025: hsl(var(--global-neutral-hue), var(--global-neutral-saturation), 95%);
	--global-color-neutral-050: hsl(var(--global-neutral-hue), var(--global-neutral-saturation), 87.5%);
	--global-color-neutral-100: hsl(var(--global-neutral-hue), var(--global-neutral-saturation), 80%);
	--global-color-neutral-200: hsl(var(--global-neutral-hue), var(--global-neutral-saturation), 70%);
	--global-color-neutral-300: hsl(var(--global-neutral-hue), var(--global-neutral-saturation), 60%);
	--global-color-neutral-400: hsl(var(--global-neutral-hue), var(--global-neutral-saturation), 50%);
	--global-color-neutral-500: hsl(var(--global-neutral-hue), var(--global-neutral-saturation), 44%);
	--global-color-neutral-600: hsl(var(--global-neutral-hue), var(--global-neutral-saturation), 30%);
	--global-color-neutral-700: hsl(var(--global-neutral-hue), var(--global-neutral-saturation), 20%);
	--global-color-neutral-800: hsl(var(--global-neutral-hue), var(--global-neutral-saturation), 10%);
	--global-color-neutral-900: hsl(var(--global-neutral-hue), var(--global-neutral-saturation), 5%);

	--global-backgroundColor: var(--global-color-neutral-025);
	--global-text-color: var(--global-color-neutral-800);
	--global-highlight-color: var(--global-color-neutral-800);
	--global-meta-color: var(--global-color-neutral-500);
	--global-muted-color: var(--global-color-neutral-300);
	--global-borderColor: var(--global-color-neutral-050);
	--global-borderColor2: var(--global-color-neutral-100);

	--global-link-color: var(--global-text-color);
	/* --global-link-color: var(--global-highlight-color); */
	--global-link-underline-color: var(--global-meta-color);
	--global-link-hover-color: var(--global-link-underline-color);
	--global-selection-backgroundColor: var(--global-text-color);
	--global-selection-color: var(--global-backgroundColor);

	--global-font-family-alpha: "Graphik Web", sans-serif;
	--global-font-family-beta: "Tiempos Text Web", serif;
	--global-font-family-title: "Tiempos Headline", serif;

	--root-font-size: 19;
	--root-baseline: 5;
	--root-line-height: calc(var(--root-baseline) * 6);

	--global-line-height: calc(var(--root-line-height) / var(--root-font-size));
	--global-whitespace: calc(var(--global-line-height) * 1rem);
}

@supports (color: color(display-p3 1 1 1)) {
	:root {
		--global-color-alpha: color(display-p3 0.2668 0 0.4895);
		--global-color-beta: color(display-p3 1 0.4286 0.3199);
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--global-backgroundColor: var(--global-color-neutral-800);
		--global-text-color: var(--global-color-neutral-025);
		--global-highlight-color: var(--global-color-neutral-025);
		--global-link-underline-color: var(--global-color-neutral-300);
		--global-borderColor: var(--global-color-neutral-700);
		--global-borderColor2: var(--global-color-neutral-600);
	}
}

/*
Page
====
*/

html {
	font-size: clamp(100%, 1.5vw + 0.438rem, calc(var(--root-font-size) / 16 * 100%));
	line-height: var(--global-line-height);
	background-color: var(--global-backgroundColor);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	--body-min-whitespace: var(--global-whitespace);
	--body-max-whitespace: var(--global-whitespace);
	--body-whitespace: max(var(--body-min-whitespace), var(--body-max-whitespace));
	margin: 0;
	/* padding: calc(var(--body-whitespace) - var(--body-min-whitespace)) var(--body-whitespace); */
	font-family: var(--global-font-family-alpha);
	font-feature-settings: "zero", "liga", "dlig", "lnum";
	color: var(--global-text-color);
	padding-top: 0;
}

@media (min-width: 41em) {
	body {
		padding-top: var(--global-whitespace);
		/* --body-max-whitespace: 5vw; */
		--body-max-whitespace: calc(var(--global-whitespace) * 2);
	}
}

::selection {
	background-color: var(--global-selection-backgroundColor);
	color: var(--global-selection-color);
}

a:any-link {
	color: var(--global-link-color);
	text-decoration-thickness: 1px;
	text-underline-offset: .05em;
	text-decoration-color: var(--global-link-underline-color);
	transition: all .1s ease;
}

a:hover {
	color: var(--global-link-hover-color);
	text-decoration-color: var(--global-link-hover-underline-color);
}

a:focus-visible {
	color: var(--global-link-hover-color);
	outline: 1px solid var(--global-link-underline-color);
	outline-offset: .2em;
	border-radius: 1px;
	text-decoration: none;
}

/*
Typography
==========
*/

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
	margin: var(--global-whitespace) 0;
}

h1,
.h1 {
	--fs: 32;
	font-family: var(--global-font-family-title);
	font-size: calc(var(--fs) / var(--root-font-size) * 1rem);
	line-height: calc(var(--root-baseline) * 8 / var(--fs));
}

h2,
.h2 {
	--fs: 25;
	font-family: var(--global-font-family-title);
	font-size: calc(var(--fs) / var(--root-font-size) * 1rem);
	line-height: calc(var(--root-baseline) * 7 / var(--fs));
}

h3,
.h3 {
	font-family: var(--global-font-family-title);
	font-size: 1.25rem;
}

*+h2 {
	margin-top: calc(var(--global-whitespace) * 2);
}

ul {
	padding: 0;
}

li+li {
	margin-top: 0.75rem;
}

ul li::marker {
	color: var(--global-color-beta);
}

h1+p,
h1:has(+p),
.intro-title,
.intro-text {
	display: inline;
}

.row {
	position: relative;
	display: flow-root;
	padding: var(--global-whitespace);
}

.row--page-header {
	--row-page-header-background-color: hsla(var(--global-neutral-hue), var(--global-neutral-saturation), var(--row-page-header-background-color-lightness, 95%), .9);
	position: sticky;
	top: 0;
	z-index: 1;
	/* background-color: var(--global-backgroundColor); */
}

.row--page-header::before {
	display: block;
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/* background-color: var(--global-backgroundColor);
	opacity: 0.9; */
	background-color: var(--row-page-header-background-color);
	backdrop-filter: blur(5px);
}

.row--page-header::after {
	display: block;
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: var(--global-borderColor);
	opacity: 0;
	transition: opacity .2s ease;
}

.row--page-header.scrolled::after {
	opacity: 1;
}

@media (prefers-color-scheme: dark) {
	.row--page-header {
		--row-page-header-background-color-lightness: 10%;
	}
}

.container {
	max-width: 36em;
	margin: 0 auto;
}

.index-header {
	min-height: calc(50vh - var(--body-whitespace) - var(--global-whitespace));
	position: sticky;
	top: var(--body-whitespace);
	margin: var(--global-whitespace) 0;
}

.zdog-logo {
	display: block;
	overflow: visible;
	cursor: grab;
	width: 5rem;
	height: 5rem;
}

.zdog-logo path {
	stroke-width: 100;
	stroke: url("#gradient");
}

.gradient-container {
	height: 0;
	width: 0;
	position: absolute;
}

.gradient-stop-1 {
	stop-color: var(--global-color-beta);
}

.gradient-stop-2 {
	stop-color: var(--global-color-alpha);
}

.page-header-observer {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 1px;
}

@media (min-width: 41em) {
	.page-header-observer {
		top: var(--global-whitespace);
	}
}

.page-header {
	position: relative;
	display: grid;
	gap: var(--global-whitespace);
	grid-template-columns: max-content 1fr;
	/* overflow: hidden; */
}

.page-header__title,
.page-header__date {
	grid-row: 1;
	grid-column: 2;
	text-align: right;
	transition: all .2s ease;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.page-header__title {
	transform: translateY(100%);
	opacity: 0;
}

.title-collides .page-header__title {
	transform: translateY(0);
	opacity: 1;
}

.title-collides .page-header__date {
	transform: translateY(-100%);
	opacity: 0;
}

.page-header * {
	margin: 0;
}

.logo {
	font-size: 1rem;
	font-family: var(--global-font-family-alpha);
	font-weight: normal;
}

.article-header {
	margin-bottom: var(--global-whitespace);
	display: grid;
	place-items: center;
	text-align: center;
	min-height: calc(50vh - var(--body-whitespace) - var(--global-whitespace) * 3);
}

a.link-more {
	color: var(--global-text-color);
	color: var(--global-meta-color);
	text-decoration: none;
	text-transform: uppercase;
	font-size: calc(12/17 * 1rem);
	border: 1px solid var(--global-borderColor2);
	padding: 0.2rem .75rem .3rem;
	background-color: var(--global-backgroundColor);
	/* background-color: hsl(var(--global-neutral-hue) var(--global-neutral-saturation) 30% / .75); */
	border-radius: 4rem;
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
}

.page-footer {
	color: var(--global-meta-color);
}

.color-meta {
	color: var(--global-meta-color);
}

.color-border {
	color: var(--global-borderColor);
}

.color-muted {
	color: var(--global-muted-color);
}

.align-center {
	margin-left: auto;
	margin-right: auto;
}

.mb-clear {
	margin-bottom: 0;
}

.pt-clear {
	padding-top: 0;
}

.max-width-md {
	max-width: 36em;
}