<ol reversed class="list-reset postlist">
  {% for post in postslist | reverse %}
    <li class="postlist__item">
      <a href="{{ post.url | url }}" class="postlist__link{% if post.data.title == title %} postlist__link--active{% endif %}">
        {% if post.data.title %}
          <span class="postlist__title">{{ post.data.title }}</span>
        {% else %}
          <code>{{ post.url }}</code>
        {% endif %}
        <time class="postlist__date text-date color-meta" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
      </a>
      {% for tag in post.data.tags | filterTagList %}
        {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
        <a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
      {% endfor %}
    </li>
  {% endfor %}
</ol>