---
title: This is my first post
description: This is a post on My Blog about win-win survival strategies.
date: 2018-08-24
permalink: /posts/this-is-my-first-post/index.html
layout: layouts/post.njk
---

<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum illum
    repellat praesentium minus mollitia, nesciunt incidunt repellendus eos nobis
    molestias hic id ea totam magni quae, cum tempora inventore optio.
</p>