<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">
    <meta name="generator" content="{{ eleventy.generator }}"> {% set css %}
    {% include "index.css" %}
    {% endset %}
    <style>
      {{css | cssmin | safe}}</style>
    <link rel="icon" type="image/svg+xml" href="{{ '/favicon.svg' | url }}">
  </head>
  <body>
    {{ content | safe }}
    {# <hr> #}
    <footer class="row">
      <div class="container">
        <div class="page-footer">
          <p>
            Last updated {{ generated }}. Next time you visit this website it might look
            different. Or not, I don't know.
          </p>
        </div>
      </div>
    </footer>
    <svg class="gradient-container" aria-hidden="true">
      <defs>
        <linearGradient
          id="gradient"
          gradienttransform="scale(1.5)"
          x1="0%"
          y1="0%"
          x2="100%"
          y2="50%"
          spreadmethod="pad">
          <stop class="gradient-stop-1" offset="0%" stop-color="tomato"/>
          <stop class="gradient-stop-2" offset="100%" stop-color="indigo"/>
        </linearGradient>
      </defs>
    </svg>
    <script src="{{ '/js/zdog.dist.min.js' | url }}"></script>
    {% set js %}
    {% include "script.js" %}
    {% endset %}
    <script>
      {{ js | jsmin | safe }}</script>
  </body>
</html>