<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">
    <meta name="generator" content="{{ eleventy.generator }}">
    <link rel="icon" type="image/svg+xml" href="{{ '/favicon.svg' | url }}"> {% set css %}
    {% include "index.css" %}
    {% endset %}
    <style>
      {{css | cssmin | safe}}</style>
  </head>
  <body>
    {{ content | safe }}
    {# <hr class="container"> #}
    <footer class="row row--page-footer">
      <div class="container">
        <div class="page-footer">
          <p>
            Last updated {{ generated }}. Next time you visit this website it might look
            different. Or not, I don't know. No cookies here.
          </p>
        </div>
      </div>
    </footer>
    {% set js %}
    {% include "script.js" %}
    {% endset %}
    <script>
      {{ js | jsmin | safe }}</script>
    {# {% if post.data.pagejs %}
              <p>
                page js is real
              </p>
              {% set thispagejs %}
              {% include post.data.pagejs %}
              {% endset %}
              <script>
                {{ thispagejs | jsmin | safe }}</script>
            {% endif %} #}
  </body>
</html></body></html>