---
layout: layouts/base.njk
templateClass: tmpl-post
---

<header class="row row--page-header js-page-header">
  <div class="container">
    <div class="page-header">
      <h2 class="logo">
        <a class="logo__link" href="/">Simon Coudeville</a>
      </h2>
      <span class="page-header__title color-meta">{{ title }}</span>
      <time class="page-header__date color-meta text-date" datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>
    </div>
  </div>
</header>
<article class="row pt-clear">
  <div class="container">
    <header class="article-header">
      <h1 class="js-article-title">{{ title }}</h1>
    </header>
    {%- for tag in tags | filterTagList -%}
      {%- set tagUrl %}/tags/{{ tag | slug }}/{% endset -%}
      <a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
    {%- endfor %}
    {{ content | safe }}
  </div>
</article>
<section class="row">
  <div class="container">
    {% include "about.njk" %}
  </div>
</section>
<section class="row">
  <div class="container">
    {% include "allposts.njk" %}
  </div>
</section>